.board-container {
  padding: 20px;
  width: 90%;
  height: 96vh;
  margin: auto;
  border: 12px solid rgb(138, 125, 184);
  background-image: url('../../../assets/images/cork-bg.jpg');
  background-repeat: repeat;
  background-size: 130px;
}