/* You can add global styles to this file, and also import other style files */

.bg0 {
  background-color: #faff93;
}

.bg1 {
  background-color: #a2fdff;
}

.bg2 {
  background-color: #bdffba;
}

.bg3 {
  background-color: #ffb7b7;
}

.bg4 {
  background-color: #b2abff;
}
