/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.bg0 {
  background-color: #faff93;
}

.bg1 {
  background-color: #a2fdff;
}

.bg2 {
  background-color: #bdffba;
}

.bg3 {
  background-color: #ffb7b7;
}

.bg4 {
  background-color: #b2abff;
}

input {
  outline: none;

  &.lower-line {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
  }  
}