:host {
  height: fit-content;      
}

.note-container {
  position: relative;  
  width: 150px;
  height: 150px;
  padding: 16px 8px;
  box-sizing: border-box;
  transition-duration: .3;
    
  -webkit-box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.45); 
  box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.45);

  img {
    position: absolute;
    width: 40px;
    top: -25px;
    left: 60px;
  }

  .note-text-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    p {
      margin: 0;
      font-family: 'Gochi Hand', cursive;

      &.message {
        flex-grow: 2;
      }

      &.author {
        font-size: 12px;
        text-align: right;
      }
    }
  }

  
}